{% extends 'WebcajaBundle:BackEnd:index.html.twig' %}

{% block menuslide %}
    <ul class="nav nav-sidebar">
        <li><a href="{{ path('webcaja_homepage_admin') }}">总览 <span class="sr-only">(current)</span></a></li>
        <li><a href="#">报告</a></li>
        <li><a href="#">分析</a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li><a href="{{ path('user_index') }}">用户管理</a></li>
        <li class="active"><a href="{{ path('category_index') }}">分类管理</a></li>
        <li><a href="{{ path('product_index') }}">产品管理</a></li>
        <li><a href="{{ path('orderinfo_index') }}">订单管理</a></li>
    </ul>
{% endblock %}

{% block content %}
    <h1 class="sub-header">产品分类修改</h1>
    <br>
    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <br>
        <input type="submit" class="button button-rounded" value="修改" />
        <a href="{{ path('category_index') }}" class="button button-rounded">返回产品分类列表</a>
    {{ form_end(edit_form) }}
    <br>
    <ul>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" class="button button-border button-rounded button-primary" value="删除">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
