<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Web叫货系统{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bundles/webcaja/css/bootstrap.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('bundles/webcaja/css/webcaja.css') }}" />
            <link rel="stylesheet" href="{{ asset('bundles/webcaja/css/button.css') }}" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="{{ asset('bundles/webcaja/js/jquery-1.12.4.min.js') }}"></script>
            <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
            <script src="{{ asset('bundles/webcaja/js/bootstrap.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
