{% extends 'base.html.twig' %}

{% block body %}
    <h1>web叫货系统</h1>
    <ul>
        <li><a href="{{ path('webcaja_homepage') }}">首页</a></li>
        <li><a href="{{ path('webcaja_categoryList') }}">选购</a></li>
        <li><a href="{{ path('webcaja_homepage') }}">搜索</a></li>
        <li><a href="{{ path('webcaja_carrito') }}">购物车</a></li>
        <li><a href="{{ path('webcaja_clearCarrito') }}">清空购物车</a></li>
        <li><button class="jiezhang">结账</button></li>
    </ul>
    <div id="shangpin">
    {% for cartItem in cartItems %}
        <hr class="featurette-divider">
        <ul>
            <li>产品id：<span id="id">{{ cartItem.product.id }}</span></li>
            <li>产品：<span id="name">{{ cartItem.product.name }}</span></li>
            <li>单位：<span id="unit">{{ cartItem.product.unit }}</span>件/包</li>
            <li>编号：<span id="codigo">{{ cartItem.product.code }}</span></li>
            <li>单价：<span id="price">{{ cartItem.product.price }}</span> €/件</li>
            <li>数量：<input class="text_box" name="" type="text" value="{{ cartItem.quantity }}" />包</li>
            <input class="min" type="button" value="-"/>
            <input class="add" type="button" value="+"/>
            <li>小计：<span id="heji"></span> €</li>
        </ul>
    {% endfor %}
        <p>总价:<label id="total">0</label> €</p>
    </div>
{% endblock %}
