{% extends 'font.html.twig' %}

{% block body %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ path('webcaja_homepage') }}">Carsun 订货系统</a>
            </div>
        </div>
    </nav>
<div class="container">
    <h3>订单：{{ orderInfo.id }} 已经创建完成！ 请等待发货。 <br>请再次确认订单详情。<br>如有疑问，请咨询电话：686058160<br>
        <span style="color: #ff1f30">选择银行转账付款方式的客户请将货款打入账户:<br>
            ESXX XXXX XXXX XXXX</span></h3>
    <br>
    <table class="table-bordered table-striped table-hover" width="400px" style="height: 500px">
        <tbody>
        <tr>
            <th>订单号</th>
            <td>{{ orderInfo.id }}</td>
        </tr>
        <tr>
            <th>订单生成时间</th>
            <td>{% if orderInfo.orderDate %}{{ orderInfo.orderDate|date('Y-m-d H:i:s') }}{% endif %}</td>
        </tr>
        <tr>
            <th>商品总价</th>
            <td>{{ orderInfo.goodsFee }}</td>
        </tr>
        <tr>
            <th>订单总价</th>
            <td>{{ orderInfo.totalPrice }}</td>
        </tr>
        <tr>
            <th>运费</th>
            <td>{{ orderInfo.shipFee }}</td>
        </tr>
        <tr>
            <th>付款方式</th>
            <td>{{ orderInfo.payType }}</td>
        </tr>
        <tr>
            <th>收货人姓名</th>
            <td>{{ orderInfo.receiverName }}</td>
        </tr>
        <tr>
            <th>收货人联系电话</th>
            <td>{{ orderInfo.receiverPhone }}</td>
        </tr>
        <tr>
            <th>收货地址</th>
            <td>{{ orderInfo.receiverAdress }}</td>
        </tr>
        <tr>
            <th>城市</th>
            <td>{{ orderInfo.receiverCity }}</td>
        </tr>
        <tr>
            <th>省份</th>
            <td>{{ orderInfo.receiverProvince }}</td>
        </tr>
        <tr>
            <th>邮编</th>
            <td>{{ orderInfo.receiverPostcode }}</td>
        </tr>
        <tr>
            <th>订单已确认</th>
            <td>{% if orderInfo.isConfirmed %}Yes{% else %}No{% endif %}</td>
        </tr>
        <tr>
            <th>订单已发货</th>
            <td>{% if orderInfo.isSended %}Yes{% else %}No{% endif %}</td>
        </tr>
        </tbody>
    </table>
</div>

    <nav class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="container navbuttom">
            <ul class="nav navbar-nav">
                <li><a href="{{ path('webcaja_homepage') }}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span><br>首页</a></li>
                <li><a href="{{ path('webcaja_categoryList') }}"><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span><br>选购</a></li>
                <li><a href="{{ path('webcaja_homepage') }}"><span class="glyphicon glyphicon-search" aria-hidden="true"></span><br>搜索</a></li>
                <li class="active"><a href="{{ path('webcaja_carrito') }}"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span><br>购物车</a></li>
            </ul>
        </div>
    </nav>
{% endblock %}
