{% extends 'base.html.twig' %}

{% block body %}
    <h1>web叫货系统</h1>
    <ul>
        <li><a href="{{ path('webcaja_homepage') }}">首页</a></li>
        <li><a href="{{ path('webcaja_categoryList') }}">选购</a></li>
        <li><a href="{{ path('webcaja_homepage') }}">搜索</a></li>
        <li><a href="{{ path('webcaja_carrito') }}">购物车</a></li>
        <li><a href="{{ path('webcaja_clearCarrito') }}">清空购物车</a></li>
        <li><a href="{{ path('webcaja_clearCarrito') }}">确认订单</a></li>
    </ul>
    <ul>
        {% for productsEnCarrito in productsEnCarritos %}
            <hr class="featurette-divider">
            <ul>
                <li>产品：{{ productsEnCarrito.name }}</li>
                <li>单位：{{ productsEnCarrito.unit }}件/包</li>
                <li>编号：{{ productsEnCarrito.code }}</li>
                <li>单价：{{ productsEnCarrito.price }}€</li>
                <li name="quantity">数量：<input type="text">包</li><button>+</button><button>-</button>
                <li name="">合计：{{ productsEnCarrito.price*12 }}€</li>
            </ul>
        {% endfor %}
    </ul>
{% endblock %}
