{% extends 'font.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/webcaja/css/jquery.fancybox.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <p onClick="javascript:history.back(-1);" class="navbar-left" ><i class="fa fa-arrow-left"></i>返回</p>
                <a class="navbar-brand" href="{{ path('webcaja_homepage') }}">Carsun 订货系统</a>
            </div>
        </div>
    </nav>

    <ul>
        <li><a href="{{ path('webcaja_clearCarrito') }}" class="button button-border button-rounded button-inverse" style="margin-top: 10px">清空购物车</a></li>
        <br>
        <li><button class="button button-border button-rounded button-inverse"><p>总价:<label id="total">0</label> €</p></button></li>
        <br>
        <li><button class="jiezhang button button-border button-rounded button-inverse" href="#formorder">生成订单</button></li>
    </ul>
    <div id="shangpin">
    {% for cartItem in cartItems %}
        <div class="row">
        <hr class="featurette-divider">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 cartimg">
            <img src="{{ asset('uploads/fotos/' ~ cartItem.product.foto) }}" width="170">
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <h4>{{ cartItem.product.name }}</h4>
            <h4>{{ cartItem.product.nameEs }}</h4>
            <h4>{{ cartItem.product.code }}</h4>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 cartinfo">
            <ul>
                <li style="display: none;">产品id：<span id="id">{{ cartItem.id }}</span></li>
                <li>单位：<span id="unit">{{ cartItem.product.unit }}</span>件/包(箱)</li>
                <li>单价：<span id="price">{{ cartItem.product.price }}</span> €/件</li>
                <li>数量：<input class="text_box" disabled="disabled" name="" type="text" style="width:40px;" value="{{ cartItem.quantity }}" />包(箱)</li>
                <button class="minnum button button-inverse button-box" data-path="{{ path('webcaja_ajaxCarrito') }}"><i class="fa fa-minus"></i></button>
                <button class="addnum button button-inverse button-box" data-path="{{ path('webcaja_ajaxCarrito') }}"><i class="fa fa-plus"></i></button>
                <li class="heji">小计：<span id="heji"></span> €</li>
            </ul>
        </div>
        </div>
    {% endfor %}
    </div>
    <div style="display: none;" id="formorder">
        <form method="post" enctype="multipart/form-data" id="gform_10" action="{{ path('webcaja_carritoOrderinfo') }}">
            <div class="form-group">
                <label>姓名</label>
                <input name="name" id="input_10_1" class="medium form-control" type="text" required="required">
            </div>
            <div class="form-group">
                <label>电话</label>
                <input name="phonenumber" id="input_10_1" class="medium form-control" type="text" required="required">
            </div>
            <div class="form-group">
                <label>省份</label>
                <input name="province" id="input_10_1" class="medium form-control" type="text" required="required">
            </div>
            <div class="form-group">
                <label>城市</label>
                <input name="city" id="input_10_1" class="medium form-control" type="text" required="required">
            </div>
            <div class="form-group">
                <label>地址</label>
                <input name="address" id="input_10_1" class="medium form-control" type="text" required="required">
            </div>
            <div class="form-group">
                <label>邮编</label>
                <input name="postcode" id="input_10_1" class="medium form-control" type="text" required="required">
            </div>
            <div class="form-group">
                <label>付款方式</label>
                <div class="ginput_container ginput_container_select">
                    <select name="paytype" id="input_10_6" class="medium gfield_select form-control" required="required">
                        <option value="货到付款">货到付款</option>
                        <option value="银行转账">银行转账</option>
                    </select>
                </div>
            </div>
            <input type="submit" class="button button-pill button-primary" value="保存">
        </form>
    </div>


    <nav class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="container navbuttom">
            <ul class="nav navbar-nav">
                <li><a href="{{ path('webcaja_homepage') }}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span><br>首页</a></li>
                <li><a href="{{ path('webcaja_categoryList') }}"><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span><br>选购</a></li>
                <li><a href="{{ path('webcaja_homepage') }}"><span class="glyphicon glyphicon-search" aria-hidden="true"></span><br>搜索</a></li>
                <li class="active"><a href="{{ path('webcaja_carrito') }}"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span><br>购物车</a></li>
            </ul>
        </div>
    </nav>
{% endblock %}
    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('bundles/webcaja/js/jquery.fancybox.pack.js') }}"></script>
    {% endblock %}
