{% extends 'base.html.twig' %}

{% block body %}
    <h1>web叫货系统</h1>
    <ul>
        <li><a href="{{ path('webcaja_homepage') }}">首页</a></li>
        <li><a href="{{ path('webcaja_categoryList') }}">选购</a></li>
        <li><a href="{{ path('webcaja_homepage') }}">搜索</a></li>
        <li><a href="{{ path('webcaja_carrito') }}">购物车</a></li>
    </ul>
    <br>
    <ul>
        {% for category in categories %}
            <li><a href="{{ path('webcaja_productList', { 'id': category.id }) }}">{{ category.name }}</a></li>
        {% endfor %}
    </ul>

{% endblock %}
