{% extends 'font.html.twig' %}

{% block body %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                 <a class="navbar-brand" href="{{ path('webcaja_homepage') }}">鸿跃Carsun 订货系统</a>
            </div>
        </div>
    </nav>

    <div class="infouser">
        <img src="{{ asset('uploads/fotos/info1.jpg') }}" style="width: 100%">
        <div class="container shuoming">
            <img src="{{ asset('uploads/fotos/num1.png') }}">
            <h1>退货担保</h1>
            <br><br>
            <h2>以下原因可100%无条件退换货: <br>
                ·货品质量问题<br>
                ·运输造成破损<br>
            </h2>
        </div>
        <div class="container shuoming">
            <hr class="featurette-divider">
            <img src="{{ asset('uploads/fotos/num2.png') }}">
            <h1>一对一服务 </h1>
            <br><br>
            <h2>在使用本叫货软件遇到任何关于商品或者技术的问题都可以咨询电话: 653 855 071。
                下单后，我们会与您电话确认订单，帮您处理好一切和订单有关的事务。
            </h2>
        </div>
        <div class="container shuoming">
            <hr class="featurette-divider">
            <img src="{{ asset('uploads/fotos/num3.png') }}">
            <h1>大额包邮，高效配送</h1>
            <br><br>
            <h2>普通买家付款方式为先付款后发货，享受2%的折扣。货到付款的订单不享受折扣。
                货物通常会在5个工作日内送达（通常会在2-3天左右），如在运输过程中有商品破损的，可无条件退换货。
            </h2>
        </div>
        <div class="container shuoming">
            <hr class="featurette-divider">
            <img src="{{ asset('uploads/fotos/num4.png') }}">
            <h1>发票正规，价格含税</h1>
            <br><br>
            <h2>在此叫货平台上所有的价格都已经包含21%的增值税。如需要发票，请在下单后联系我们，我们将开具正规的发票，百元店买货买的放心。
                个体户百元店需自己支付5.2%的个体户附加税。
            </h2>
        </div>

    </div>

    <nav class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="container navbuttom">
            <ul class="nav navbar-nav">
                <li><a href="{{ path('webcaja_homepage') }}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span><br>首页</a></li>
                <li><a href="{{ path('webcaja_categoryList') }}"><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span><br>选购</a></li>
                <li class="active"><a href="{{ path('webcaja_info') }}"><span class="glyphicon glyphicon-search" aria-hidden="true"></span><br>用户须知</a></li>
                <li><a href="{{ path('webcaja_carrito') }}"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span><br>购物车</a></li>
            </ul>
        </div>
    </nav>
{% endblock %}