{% extends 'font.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/webcaja/css/jquery.fancybox.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <p onClick="javascript:history.back(-1);" class="navbar-left" ><i class="fa fa-arrow-left"></i>返回</p>
                <a class="navbar-brand" href="{{ path('webcaja_homepage') }}">Carsun 订货系统</a>
            </div>
        </div>
    </nav>

    <div id="product">
        {% for product in products %}
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 product" id="product{{ product.id }}">
                <div class="thumbnail">
                    <a id="product_image" href="{{ asset('uploads/fotos/' ~ product.foto) }}">
                        <img src="{{ asset('uploads/fotos/' ~ product.foto) }}" data-src="{{ asset('uploads/fotos/' ~ product.foto) }}" width="300">
                    </a>
                    <div class="caption">
                        <h5>
                            {{ product.name }} {{ product.nameEs }}<br>
                            <b>{{ product.unit }} u/c<br>{{ product.price }} €<br></b>
                        </h5>
                        <p class="productId" style="display: none">{{ product.id }}</p>
                        <span class="button-wrap nocart">
                            <a class="button button-circle button-raised button-primary nocart" href="#numselect{{ product.id }}">
                              <i class="fa fa-plus"></i>
                            </a>
                        </span>
                        <span class="button-wrap yescart" style="display: none;">
                            <a class="button button-circle button-action" onclick="alert('该商品已经在购物车中，请至购物车确认商品数量。')">
                              <i class="fa fa-check"></i>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="numselect" id="numselect{{ product.id }}" style="display: none">
                <p class="productIdHidden" style="display: none">{{ product.id }}</p>
                <button class="min button button-inverse button-box"><i class="fa fa-minus"></i></button>
                <button class="add button button-inverse button-box"><i class="fa fa-plus"></i></button>
                <p class="heji">
                    小计：<span id="num">1</span>
                    x <span id="unit">{{ product.unit }}</span>
                    x <span id="price">{{ product.price }}</span>€
                    = <span id="heji"></span> €
                </p>
                <button class="button button-circle button-raised button-primary numcheck" data-path="{{ path('webcaja_addtocartAjax') }}">
                    <i class="fa fa-check"></i>
                </button>
            </div>
        {% endfor %}
        <ul class="cartItems" style="display: none">
            {% for cartItem in cartItems %}
                <li class="cartItemId">{{ cartItem.product }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('bundles/webcaja/js/jquery.fancybox.pack.js') }}"></script>
        <script src="{{ asset('bundles/webcaja/js/productlist.js') }}"></script>
    {% endblock %}