{% extends 'font.html.twig' %}

{% block body %}
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Carsun 订货系统</a>
            </div>
        </div>
    </nav>


    <div>
        {% for product in products %}
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 product">
            <div class="thumbnail">
                <img src="{{ asset('uploads/fotos/' ~ product.foto) }}" data-src="{{ asset('uploads/fotos/' ~ product.foto) }}" width="300">
                <div class="caption">
                    <h5>
                        {{ product.name }} {{ product.nameEs }}<br>
                        <b>{{ product.unit }} u/c<br>{{ product.price }} €<br></b>
                    </h5>
                    <span class="button-wrap">
                        <button class="button button-circle button-raised button-primary" onclick="location.href='{{ path('webcaja_addToCarrito', {'id': product.id }) }}';">
                          <i class="fa fa-plus"></i>
                        </button>
                      </span>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}